.card{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 80px;
    box-shadow:  4px 2px 2px #F75B92;
}


.card-title{
    font-weight: bolder;
}

.btn-pink{
    margin-top: 20px;
    background-color: #F5A4C0;
    color: #4f353e;
    font-weight: bold;
}

.form-message{
    margin-top: 5px;
}

hr.hrContact {
    border-top: 6px solid #F75B92;
}


h1 {
    text-align: center;
    color: #4f353e;
  }


  .btn{
    background-color: #F5A4C0;
    border-width: 10px solid #4f353e;
    color: #4f353e;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    
}

  .btn:hover {
    color: #F75B92;
  }


  .fa-linkedin-in, .fa-github{
    color: #4f353e;
  }
  
  .btn-outline-pink {
    border: solid #4f353e !important;
  }

  .btn-outline-pink:hover {
      background-color: #F5A4C0;     
  }