body, ul, li{
    margin: 0;
    padding: 0;
    text-decoration:none;
  }
  body{
    height: 1000px;
    background: white;
    text-decoration: none;
  }
  ul{
    background: #4f353e;
    min-width: 30px;
    height: 2657px;
    box-sizing: border-box;
    position: fixed;
    text-decoration: none;
  }
  li{
    list-style-type: none;
    padding: 10px 0 10px 0px;
    border-bottom: 1px solid #222;
    transform: translateY(55px);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  a{
    color: #aaa;
    text-decoration: none;
    padding: 10px 10px;
  }
  li.active{
    background: #222;
    opacity: 1;
  }
  li:not(.active):hover {
    background: #2c2c2c;
  }
  .imgLogo{
    width: 30px;
    opacity: 0.8;
  }
  li:hover img, .active img{
    opacity: 1;
  }
::-moz-progress-bar{
  color: #F5A4C0;
}