
a{
    text-decoration: none;
    color: #F75B92;
    font-weight: bolder;
}



.btn-pink {
    background-color: #F5A4C0;
    color: #4f353e;
    cursor: pointer;   
    border-width: 2px;
    border-color: #4f353e;;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 80px;
    margin-bottom: 80px;
    margin: 30px;
    padding: 30px;
    display: inline-block;
    font-weight: bolder;
    line-height:90px;

}
